<header class="site-header" role="banner" id='header-bar'>

    <div class="wrapper">
        {% assign default_paths = site.pages | map: "path" %}
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <!-- <nav class="site-nav">
            <a class="page-link" href="http://lilianweng.github.io" target="_blank">&#x1f349; About</a>
        </nav> -->
        <nav class="site-nav">
            <a class="page-link" href="{{ '/contact.html' | relative_url }}">&#x1f984; Contact</a>
        </nav>
        <nav class="site-nav">
            <a class="page-link" href="{{ '/FAQ.html' | relative_url }}">&#x1F64B; FAQ</a>
        </nav>
        <!-- <nav class="site-nav">
            <a class="page-link" href="{{ '/log.html' | relative_url }}">&#x231b; Log</a>
        </nav> -->
        <nav class="site-nav">
            <a class="page-link" href="{{ '/archive.html' | relative_url }}">&#x231b; Archive</a>
        </nav>

    </div>

</header>
