/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dd, ol,
ul, figure {
  margin: 0;
  padding: 0;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $crimson-color-very-light;
    margin: 2em 0;
    padding: 0; 
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;

}

.share-buttons {
  display: inline;
  float: right;
}

.share-button .fb-like{
  display: block;
  float: left;
  padding: 0 5px;
  height: 30px;
  vertical-align: text-bottom !important;
}

.twitter-share-button {
  padding-top: 1px;
}

.table-of-content {
  li {
    font-size: 96%;
    color: $brand-color;
    list-style-type: disc;
  }
}

.page-navigation {
  font-size: 90%;
  display: block;
  width: 100%;
  overflow: hidden;

  a {
    display: block;
    overflow: hidden;
    width: 50%;
    float: left;
    margin: 1em 0;
  }

  .next {
    text-align: right;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  margin: 10px auto;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.center {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
  color: $grey-color-dark;
  padding-bottom: 10px;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


/**
 * Table
 */
table.info {
  max-width: 100%;
  border-top: 2px solid $grey-color;
  border-bottom: 2px solid $grey-color;
  margin: 20px auto;
  font-size: 90%;

  th, td {
    padding: 2px 6px;
    text-align: left;
    vertical-align: top;
  }

  th {
    text-align: center;
    border-bottom: 1px solid $grey-color-light;
  }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: $crimson-color-light;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: #777777;
  border-left: 4px solid #bbbbbb;
  padding: 10px;
  margin: 10px;
  padding-left: 25px;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  background: #f0f0f0;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #f2f2f2;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 4px 6px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .lineno {
    @include relative-font-size(0.9);
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

.social-media-list {
  .icon {
    padding-right: 5px;
  }

  li + li {
    padding-top: 5px;
  }
}
