/**
 * Site header
 */

.site-header {
  background: #111;
  opacity: 0.8;
  min-height: $spacing-unit * 1.865;
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 600;
  color: #ffffff; // $crimson-color;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: #ffffff; // $crimson-color-dark;
  }

  &:hover {
    color: $crimson-color-light;
    text-decoration: none;
    cursor: pointer;
  }
}

.site-nav {
  float: right;
  text-align: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  padding-right: 10px;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #ffffff; // $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      color: $crimson-color-light;
      text-decoration: none;
      cursor: pointer;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: $small-font-size;
  color: $grey-color;
  clear: both;
  margin-bottom: 30px;

  a {
    color: $grey-color;
  }
  p {
    margin: 5px auto;
    width: 200px;
  }
  img {
    width: 26px;
    height: 26px;
    margin: 0 4px;
    display: block;
    float: left;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.5);
  font-weight: 600;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit * 2;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;

  a.post-tag {
    border-radius: 5px;
    border: 1px solid $grey-color;
    color: $grey-color;
    padding: 1px 5px;
    margin-left: 5px;
    &:hover {
      border: 1px solid $brand-color;
      text-decoration: none;
      color: #ffffff;
      background: $brand-color;
    }
  }
}

.post-link {
  display: block;
  @include relative-font-size(1.6);
  font-weight: 600;

  font-color: #000000;

  &:hover {
    color: $crimson-color-light;
    text-decoration: none;
    cursor: pointer;
  }
}

/**
 * FAQ
 */

.other-pages {
    margin-top: $spacing-unit * 0.5;
}

div.qa {
    margin: 10px;
    padding: 10px;
    .question {
        border-radius: 5px;
        background: #eeeeee;
        padding: 5px;
        padding-left: 20px;
    }
 }

/**
 * Posts
 */
.post-header {
  margin-top: $spacing-unit * 2;
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.2);
  letter-spacing: -1px;
  line-height: 1.2;

  @include media-query($on-laptop) {
    @include relative-font-size(2.2);
  }

  font-weight: $base-font-weight * 1.5;
  width: $content-width * 0.85;
  max-width: 100%;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.8);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }

    font-weight: $base-font-weight * 1.5;
    margin-top: $spacing-unit * 1.55;

    blockquote: {
        line-height: 1.5;
    }
  }

  h3 {
    @include relative-font-size(1.3);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
    font-weight: $base-font-weight * 1.35;
    margin-top: $spacing-unit * 1.1;
  }

  h4 {
    @include relative-font-size(1.1);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
    font-weight: $base-font-weight * 2.0;
    color: $grey-color;
  }

  a {
    border-bottom: 1px dotted #bbb;
    padding-bottom: 1px;

    &:hover {
      color: $crimson-color-light;
      border-bottom: 1px solid $crimson-color-light;
      padding-bottom: 1px;
      text-decoration: none;
    }
  }

}
